:root {
  --primary-color: #0C0E12;
  --primary-dark-color: #14161a;
  --secondary-color: #1e90ff;
  --secondary-dark-color: #0080ff;
  --light-color: #dfe6e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif !important;
  background-image: url("https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg?auto=compress&cs=tinysrgb&w=5472&h=3648&dpr=4");
  background-size: cover;
}

main {
  display: grid;
  max-width: 60rem;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
  background-color: var(--primary-color);
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(4rem, 1fr));
  border-radius: 25px;
  color: var(--light-color);
}
main header {
  display: flex;
  align-items: flex-start;
  grid-column-start: 1;
  grid-column-end: 6;
  padding: 0.25rem;
  border-radius: 25px;
  background-color: var(--primary-color);
}
main header figure {
  width: 100%;
  height: 10rem;
}
main header figure img {
  width: 100%;
  height: 10rem;
  object-position: 0px -5rem;
  object-fit: cover;
  border-radius: 20px;
}
main .info-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 6;
  padding: 1rem;
}
main .info-section figure img {
  position: absolute;
  left: 50%;
  top: -5rem;
  transform: translateX(-50%);
  width: 10rem;
  height: 10rem;
  border: 0.25rem solid var(--primary-color);
  border-radius: 50%;
}
@media screen and (max-width: 518px) {
  main .info-section figure img {
    top: -8rem;
  }
}
main .info-section .personal-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main .info-section .personal-info div h1 {
  font-size: 1.5rem;
  font-weight: bold;
}
main .info-section .personal-info div h3 {
  font-size: 1rem;
  font-weight: normal;
}
@media screen and (max-width: 518px) {
  main .info-section .personal-info div h3 {
    text-align: center;
  }
}
@media screen and (max-width: 518px) {
  main .info-section .personal-info {
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
}
main .info-section .social-media {
  display: flex;
}
main .info-section .social-media .icon {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 0.75rem;
  background-size: contain;
  cursor: pointer;
}
main .info-section .social-media .instagram-icon {
  background-image: url("data:image/svg+xml;base64,...");
}
main .info-section .social-media .linkedin-icon {
  background-image: url("data:image/svg+xml;base64,...");
}
main .skills-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-column-start: 1;
  grid-column-end: 6;
  grid-gap: 1.5rem;
  padding: 1rem;
}
main .subtitle {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1rem;
  color: var(--light-color);
  grid-column-start: 1;
  grid-column-end: 6;
}
main .showcase-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 20px;
  grid-column-start: 1;
  grid-column-end: 6;
  padding: 20px;
  color: var(--primary-color);
}
main .showcase-section .project-card {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: var(--primary-dark-color);
  border-radius: 20px;
  text-decoration: none;
  color: var(--light-color);
  padding-bottom: 1rem;
  transition: transform 0.3s ease;
}
main .showcase-section .project-card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}
main .showcase-section .project-card figure img {
  width: 100%;
  height: 8rem;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
main .showcase-section .project-card figcaption {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
}
main .showcase-section .project-card p {
  margin-left: 1rem;
}
main .contact-form {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 6;
  padding: 1rem;
}
main .contact-form form {
  display: flex;
  flex-direction: column;
}
main .contact-form form div {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
main .contact-form form input,
main .contact-form form textarea {
  margin: 0.5rem 0;
  padding: 1rem 1rem;
  font-size: 1rem;
  color: var(--primary-dark-color);
  border-radius: 0.75rem;
  outline: none;
  border: none;
}
main .contact-form form textarea {
  height: 8rem;
  resize: vertical;
}
main button {
  background-color: var(--secondary-color);
  color: white;
  font-size: 1rem;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
main button:hover {
  background-color: var(--secondary-dark-color);
}

/*# sourceMappingURL=styles.css.map */
